body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  
* Clase "c-info"
* Agrega una pequeña imagen a la derecha del texto, a fin de añadir mas informacion o un link externo.
*/
.c-info:after{
	display: block;
	content: " " url("../img/info.png");	
	cursor: pointer;
	padding: 0px 10px 20px 5px;
	width: 6px;
	height: 6px;
}

/*  
* Clase "c-editar"
* Agrega una pequeña imagen a la derecha del texto, a fin de utilizarla para editar un componente.
*/
.c-editar:after{
	display: block;
	content: " " url("../img/editar.png");
	cursor: pointer;
	padding: 0px 10px 20px 5px;
	width: 8px;
	height: 8px;
}

/*
* Clase "btn"
* Boton redondeado de tamaño estandar. Se puede combinar con los estilos de "btn-(tipo)"
*/
.btn {
  	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  	font-size: 12px;
	font-weight: bold;
	margin: 10px 2px;
  	padding: 12px;
  	width: 100px;
  	cursor: pointer;
	border-width: 1px;
  	border-radius: 15px;
	transition: all 0.5s;
}

/*
* Clase "btn-principal"
* Combinable con las clases "btn". Establece color primario del sitio, sombra y efecto de hover
*/
.btn-principal {
	color: #00769E;
	border-color: #016A8E;
  	background-color: white;
	box-shadow: 2px 2px 5px #016A8E;
}

.btn-principal:hover{
	color: white;
	border-color: #0099CC;
	background-color: #0099CC;
	box-shadow: 2px 2px 5px lightslategrey;
}

/*
* Clase "btn-secundario"
* Combinable con las clases "btn". Establece color secundario del sitio, sombra y efecto de hover
*/
.btn-secundario {
	color: #323232;
	border-color: #878786;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #4F4F4F;
}

.btn-secundario:hover{
	color: #FFFFFF;
	border-color: #4F4F4F;
  	background-color: #949494;
	box-shadow: 2px 2px 5px #4F4F4F;
}